<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-lg-5">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-body p-4">
                    <h1 class="text-center mb-4">CREA EL TEU COMPTE</h1>
                    <form [formGroup]="formGroup" (ngSubmit)="register(formGroup.value)">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nom d'usuari</label>
                            <input type="username" class="form-control" id="username" formControlName="userNameControl">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correu electrònic</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="userEmailControl">
                            <!-- <label class="form-label" style="color:red" *ngIf="">Mail already in use</label> -->
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contrasenya</label>
                            <input type="password" class="form-control" id="password" formControlName="userPasswordControl">
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirmar contrasenya</label>
                            <input type="password" class="form-control" id="confirmPassword" formControlName="userConfirmPasswordControl">
                        </div>
                        <button type="submit" class="btn btn-primary d-block w-100" [disabled]="!formGroup.valid">CREAR COMPTE</button>
                    </form>
                    <div class="mt-3 text-center">
                        <p class="mb-0">Ja tens compte? <a routerLink="/login" class="text-decoration-none">Inicia sessió</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
